<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vaccine.vaccineapi.mapper.BabyMapper">

    <resultMap type="com.vaccine.vaccineapi.domain.BabyInfoDTO" id="getBabyInfoDTO">
        <result property="id" column="id"/>
        <result property="avatar" column="avatar"/>
        <result property="nickname" column="nickname"/>
        <result property="birthday" column="birthday"/>
    </resultMap>

    <select id="getBabyInfoDTO" resultMap="getBabyInfoDTO">
        select b.id, b.avatar, b.nickname, b.birthday from v_baby b
        left join v_user_baby ub on ub.baby_id=b.id
        where ub.user_id=#{userId}
    </select>

</mapper>
