<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vaccine.vaccineapi.mapper.VaccineSchemeMapper">

    <resultMap type="com.vaccine.vaccineapi.domain.GetSchemeDTO" id="getSchemeDTO">
        <result property="vaccineDetailId" column="vaccine_detail_id"/>
        <result property="vaccineName" column="vaccine_name"/>
        <result property="sameEffect" column="same_effect"/>
        <result property="relevant" column="relevant"/>
        <result property="diseaseNum" column="disease_num"/>
        <result property="price" column="price"/>
        <result property="vaccineSchemeId" column="vaccine_scheme_id"/>
        <result property="times" column="times"/>
        <result property="vaccinationAge" column="vaccination_age"/>
        <result property="monthNumS" column="month_num_s"/>
        <result property="monthNumE" column="month_num_e"/>
        <result property="immunityProgram" column="immunity_program"/>
        <result property="status" column="status"/>
        <result property="schemeType" column="scheme_type"/>
        <result property="provinceId" column="province_id"/>
    </resultMap>

    <resultMap type="com.vaccine.vaccineapi.controller.vo.scheme.SchemeColumn" id="schemeColumn">
        <result property="vaccinationAge" column="vaccination_age"/>
        <result property="monthNumS" column="month_num_s"/>
        <result property="monthNumE" column="month_num_e"/>
    </resultMap>

    <select id="getScheme" resultMap="getSchemeDTO">
        select vvs.vaccine_detail_id, vvd.name vaccine_name, vvd.same_effect, vvd.relevant, vvd.disease_num, vvp.price,
            vvs.id vaccine_scheme_id, vvs.times, vvs.vaccination_age, vvs.month_num_s, vvs.month_num_e, vvs.immunity_program, vvs.status, vvs.scheme_type, vvs.province_id
        from v_vaccine_scheme vvs
        LEFT JOIN v_vaccine_detail vvd on vvd.id=vvs.vaccine_detail_id
        LEFT JOIN v_vaccine_price vvp on vvp.vaccine_detail_id=vvd.id and vvp.province_id=vvs.province_id
        where vvs.scheme_type=#{schemeType} and vvs.province_id=#{provinceId}
    </select>

    <select id="getHospitalTimes" resultType="Integer">
        select count(1) hospitalTimes
        from (select vaccine_detail_id from v_vaccine_scheme
            where scheme_type=#{schemeType} and province_id=#{provinceId} and status=1 group by scheme_type, province_id, vaccine_detail_id) t
    </select>

    <select id="getTotalDosageNum" resultType="Integer">
        select count(times) totalDosageNum from v_vaccine_scheme where scheme_type=#{schemeType} and province_id=#{provinceId} and status=1
    </select>

    <select id="getVaccineNum" resultType="Integer">
        select sum(t.times*disease_num) vaccineNum from v_vaccine_detail vvd,
            (select vaccine_detail_id, count(times) times from v_vaccine_scheme
            where scheme_type=#{schemeType} and province_id=#{provinceId} and status=1 group by vaccine_detail_id) t where vvd.id=t.vaccine_detail_id
    </select>

    <select id="getDiseaseNum" resultType="Integer">
        select sum(dosage_times*disease_num) vaccineNum from v_vaccine_detail vvd,
            (select vaccine_detail_id from v_vaccine_scheme where scheme_type=#{schemeType} and province_id=#{provinceId} and status=1
                group by vaccine_detail_id) t where vvd.id=t.vaccine_detail_id

    </select>

    <select id="getColumn" resultMap="schemeColumn">
        select vaccination_age, month_num_s, month_num_e from v_vaccine_scheme where scheme_type=#{schemeType} and province_id=#{provinceId} group by vaccination_age order by month_num_s asc
    </select>

</mapper>
